---
- name: Validar cliente_nome
  fail:
    msg: "Use o script run.sh para informar o nome do cliente."
  when: cliente_nome | default('') == ''

- name: Detectar sistema e definir repo
  set_fact:
    repo_url: >-
      {%- if ansible_distribution == "Ubuntu" -%}
      https://repo.zabbix.com/zabbix/{{ zabbix_version }}/ubuntu/pool/main/z/zabbix-release/zabbix-release_{{ zabbix_version }}-2+ubuntu{{ ansible_distribution_version }}_all.deb
      {%- elif ansible_distribution == "Amazon" and ansible_distribution_major_version == "2023" -%}
      https://repo.zabbix.com/zabbix/{{ zabbix_version }}/amazonlinux/2023/x86_64/zabbix-release-{{ zabbix_version }}-2.amzn2023.noarch.rpm
      {%- elif ansible_distribution == "Amazon" and ansible_distribution_major_version == "2" -%}
      https://repo.zabbix.com/zabbix/{{ zabbix_version }}/amazonlinux/2/x86_64/zabbix-release-{{ zabbix_version }}-2.amzn2.noarch.rpm
      {%- else -%}
      
      {%- endif -%}

- name: Baixar repositório Ubuntu
  get_url:
    url: "{{ repo_url }}"
    dest: /tmp/zabbix-release.deb
  when: ansible_distribution == "Ubuntu"

- name: Instalar repositório Ubuntu
  apt:
    deb: /tmp/zabbix-release.deb
  when: ansible_distribution == "Ubuntu"

- name: Instalar repositório Amazon
  yum:
    name: "{{ repo_url }}"
    state: present
  when: ansible_distribution == "Amazon"

- name: Atualizar cache
  package:
    update_cache: yes

- name: Instalar agent2 e plugins (Ubuntu e Amazon 2023)
  package:
    name:
      - zabbix-agent2
      - zabbix-agent2-plugin-mongodb
      - zabbix-agent2-plugin-mssql
      - zabbix-agent2-plugin-postgresql
    state: present
  when: not (ansible_distribution == "Amazon" and ansible_distribution_major_version == "2")

- name: Instalar agent (Amazon 2)
  package:
    name: zabbix-agent
    state: present
  when: ansible_distribution == "Amazon" and ansible_distribution_major_version == "2"

- name: Verificar se agent2.conf existe
  stat:
    path: /etc/zabbix/zabbix_agent2.conf
  register: agent2_conf

- name: Definir arquivo de conf e serviço
  set_fact:
    zabbix_conf: "{{ '/etc/zabbix/zabbix_agent2.conf' if agent2_conf.stat.exists else '/etc/zabbix/zabbix_agentd.conf' }}"
    zabbix_service: "{{ 'zabbix-agent2' if agent2_conf.stat.exists else 'zabbix-agent' }}"

- name: Configurar Hostname
  lineinfile:
    path: "{{ zabbix_conf }}"
    regexp: '^Hostname='
    line: "Hostname={{ cliente_nome }}"

- name: Comentar Server passivo
  lineinfile:
    path: "{{ zabbix_conf }}"
    regexp: '^Server=127.0.0.1'
    line: "#Server=127.0.0.1"

- name: Ajustar ListenPort
  lineinfile:
    path: "{{ zabbix_conf }}"
    regexp: '^#?ListenPort='
    line: "ListenPort=10050"

- name: Ajustar StartAgents (apenas para Zabbix Agent 1)
  lineinfile:
    path: "{{ zabbix_conf }}"
    regexp: '^#?StartAgents='
    line: "StartAgents=0"
  when: zabbix_service == "zabbix-agent"

- name: Ajustar ServerActive
  lineinfile:
    path: "{{ zabbix_conf }}"
    regexp: '^ServerActive='
    line: "ServerActive={{ zabbix_server_dns }}:10051"

- name: Ajustar HostMetadata
  lineinfile:
    path: "{{ zabbix_conf }}"
    regexp: '^#?HostMetadata='
    line: "HostMetadata=Linux"

- name: Reiniciar e habilitar serviço
  systemd:
    name: "{{ zabbix_service }}"
    state: restarted
    enabled: yes